.containerProduto {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 93%;
}

.tituloProduto {
  margin-bottom: 20px;
  color: indigo;
}

.search-inputProduto {
  margin-left: 26px;
  padding: 10px;
  width: 80%;
  max-width: 800px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.product-table {
  margin-left: 150px;
  width: 80%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.product-table th, .product-table td {
  padding: 5px;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  white-space: nowrap; /* Adicionado para evitar quebra de linha */
  max-width: 150px; /* Limita a largura máxima da célula */
  overflow: hidden; /* Oculta o excesso de texto */
  text-overflow: ellipsis; /* Adiciona reticências ao texto excedente */
}

.pagination-controls {

  justify-content: space-between;
  margin-left: 150px;
  width: 80%;
}

.pagination-controls button {
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  border: solid 1px;

}


.action-button {
  padding: 10px 20px;
  border: none;
  background-color: indigo;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.action-button:hover {
  background-color: #0056b3;
}

.product-table th {
  background-color: indigo;
  color: white;
  text-align: center;
}

.boxSuperiorProduto{
  display: flex;
  justify-content: center;
  justify-content: space-around;
}


.botaoCadastroProduto{
  margin-right: 8px;
}

