.cadastroFornecedor-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 100% da altura da viewport */
}

.cadastroFornecedor-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
 }

 .cadastroFornecedor-formGroup {
   margin-bottom: 15px;
   text-align: left;
 }

 .cadastroFornecedor-label {
   display: block;
   margin-bottom: 5px;
   font-weight: bold;
   color: indigo;
 }

 .cadastroFornecedor-input {
   width: 100%;
   padding: 10px;
   border: 1px solid #ddd;
   border-radius: 4px;
   box-sizing: border-box;
   font-family: 'SuaFonteDesejada', sans-serif;
 }

 textarea.cadastroFornecedor-input {
   resize: vertical;
 }

 .cadastroFornecedor-buttonContainer {
   display: flex;
   justify-content: space-between;
   margin-top: 20px;
 }

 .cadastroFornecedor-actionButton {
   padding: 10px 20px;
   border: none;
   background-color: #007bff;
   color: white;
   border-radius: 4px;
   cursor: pointer;
   transition: background-color 0.3s ease;
 }

 .cadastroFornecedor-actionButton:hover {
   background-color: #0056b3;
 }

 .cadastroFornecedor-cancelButton {
   background-color: #dc3545;
 }

 .cadastroFornecedor-cancelButton:hover {
   background-color: #c82333;
 }


 --FALTA DAQUI PARA BAIXO .cadastroFornecedor-input.empty {
   background-color: #f0f0f0;
   opacity: 50%;
   border: 1px solid;
   transition: background-color 0.3s ease;
 }

 .cadastroFornecedor-input.empty:focus {
   background-color: #ffffff;
   border-color: indigo;
   outline: none;
 }

 .cadastroFornecedor-input.filled {
   background-color: #fff;
 }

 .cadastroFornecedor-titulo {
   display: flex;
   justify-content: center;
   color: indigo;
 }