.containerEstoque {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 93%;
  }
  
  .tituloEstoque {
    margin-bottom: 20px;
    color: indigo;
  }
  

  
  .estoque-table {
    margin-left: 150px;
    width: 80%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .estoque-table th, .estoque-table td {
    padding: 5px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    white-space: nowrap;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
  
  }
  
  .button-containerEstoque {
    display: flex;
    gap: 10px;
    margin-left:150px;
  }
  
  .action-buttonEstoque {
    padding: 10px 20px;
    border: none;
    background-color: indigo;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .action-buttonEstoque:hover {
    background-color: #0056b3;
  }
  
  .estoque-table th{
    background-color: indigo;
    color: white;
    text-align: center;
  }



  .search-inputEstoque {
    margin-left: 26px;
    padding: 10px;
    width: 80%;
    max-width: 800px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  .botaoCadastroEstoque{
    margin-right: 8px;
  }
  
  .boxSuperiorEstoque{
    display: flex;
    justify-content: center;
    justify-content: space-around;
  }