.editarProduto-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
  min-height: 100vh;
}

.editarProduto-header {
  text-align: center;
  margin-bottom: 20px;
}

.editarProduto-titulo {
  font-size: 28px;
  color: #333;
}

.editarProduto-content {
  width: 100%;
  max-width: 1000px;
}

.editarProduto-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.editarProduto-formRow {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;

}

.editarProduto-formGroup {
  flex: 1;
  min-width: 250px;
  margin-bottom: 15px;
}

.editarProduto-formGroup-name {
  flex: 2;
  margin-right: 15px;
}

.editarProduto-formGroup-status {
  flex: 1;
  position: relative;
}

.editarProduto-formGroup-left {
  flex: 1;
  margin-right: 15px;
}

.editarProduto-descriptionGroup {
  flex: 2;
}

.editarProduto-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: indigo;
}

.editarProduto-labelValorUnit {
  display: block;
  margin-bottom: 7px;
  font-weight: bold;
  color: indigo;
  margin-top: 10px;
}

.editarProduto-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  background-color: #f0f0f0;
  transition: background-color 0.3s ease;
}

.editarProduto-input:focus {
  background-color: #ffffff;
  border-color: indigo;
  outline: none;
}

.editarProduto-inputStatus {
  width: 100%;
  padding: 10px;
  padding-right: 40px;
  /* Adiciona espaço para o ícone */
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  background-color: #f0f0f0;
  text-align: center;
  font-weight: bold;
}


textarea.editarProduto-textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  height: 185px;
  /* Ajuste a altura conforme necessário */
  resize: vertical;
  background-color: #f0f0f0;
  transition: background-color 0.3s ease;
}

textarea.editarProduto-textarea:focus {
  background-color: #ffffff;
  border-color: indigo;
  outline: none;
}

.editarProduto-buttonContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.editarProduto-actionButton {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.editarProduto-actionButton:hover {
  background-color: #0056b3;
}

.editarProduto-cancelButton {
  background-color: #dc3545;
}

.editarProduto-cancelButton:hover {
  background-color: #c82333;
}


.alteracaoStatusProduto {
  display: flex;
  align-items: center;
}




.alteracaoStatusProduto .iconAlterarStatus {
  position: absolute;
  right: 10px;
  /* Ajusta a posição do ícone dentro do input */
  top: 70%;
  transform: translateY(-50%);
  cursor: pointer;
}